.header{
    background: #0000009c !important;
}

.header .navbar-brand{
    color: rgb(180, 195, 209);
}

.header .navbar-brand:hover{
    color: rgb(209, 226, 243);
}

.header .nav-link.active{
    color: white !important;
}

.header .nav-link{
    color: #dfdfdf !important;
}


.Category .img-hover{
    position: relative;
    cursor: pointer;
}

.img-hover img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.Category .hover{
    display: none;
}
.Category .hover a{
    color: white;
    text-decoration: none;
}
.Category .col-3{
    padding-top: 10px;
}
.Category .img-hover:hover > .hover{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: #00000060;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    background: rgb(99, 100, 163);
    /* margin: 8px; */
}

.game h2{
    font-size: 12;
    text-align: center;
}
.game a{
    font-size: 24;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar-brand img{
    width: 50px;
}
.Heading{
    font-size: 36px;
    /* font-family: fantasy; */
    font-weight: 700;
}
.center {
    margin: 0 auto;

    /* или */
    margin-left: auto;
    margin-right: auto;
}

.popular img{
    width: 100%;
    height: 200px !important;
}

.popular .card{
    width: 100% !important;
    height: auto !important;
}

.popular .card-body{
    height: 200px;
}

.form-signin{
    margin: 20px;
    padding: 20px;
}
.kontrast{
    color: #212529;
}
.carousel-caption{
    font-weight: 700;
}

.img-hover a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}