
{% extends 'base.html' %}

{% block title %}
<title>FreeWallpaper</title>
{% endblock %}

{% block body %}
<!-- carusel -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img3.akspic.ru/originals/0/6/6/9/4/149660-liniya_gorizonta-rozovyj-artist-metropoliya-art-1920x1080.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>На нашём сайте есть обои на любой вкус</h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://million-wallpapers.ru/wallpapers/6/2/450562091754793/udivitelnyj-vid-na-ozero-osen.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://get.wallhere.com/photo/Freedom-Glider-minimalism-mountain-pass-landscape-metalanguage-mountains-1386873.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.alphacoders.com/113/thumb-1920-1131712.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://get.wallhere.com/photo/landscape-planet-nature-space-sky-Earth-Moon-horizon-atmosphere-universe-mountain-daytime-1920x1080-px-computer-wallpaper-atmosphere-of-earth-outer-space-astronomical-object-phenomenon-794981.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.playground.ru/i/pix/1057848/image.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- endcarusel -->

<!-- Category -->

<div class="container mt-5 Category">
    <h2 class="Heading">Категории</h2>
    <div class="row">
        <div class="col-3">
            <div class="img-hover">
                <a href="/nature"><img src="http://journal-files7.foto.ua/uploads/2013/08/landscape_03.jpg" class="img-fluid" alt=""></a>
                <div class="hover">
                    <a href="/nature"><h2>Природа</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <a href="/anime"><img src="https://yt3.ggpht.com/a/AATXAJwwoeFkAhqkzBwthEAmHPnM4JWpU5MR1L2Yfnvp=s900-c-k-c0xffffffff-no-rj-mo" class="img-fluid" alt=""></a>
                <div class="hover">
                    <a href="/anime"><h2>Аниме</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <img src="https://www.rgo.ru/sites/default/files/styles/head_image_article/public/node/36520/p-prev-4542-1571374402.jpg?itok=2OiOhPAw" class="img-fluid" alt="">
                <div class="hover">
                    <a href="/animals"><h2>Животные</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <img src="https://w-dog.ru/wallpapers/1/14/516137729326043/avto-avtomobili-peremennogo-toka-kobra-rodster-superkary-oboi-avto-foto-avto-foto-gorod.jpg" class="img-fluid" alt="">
                <div class="hover">
                    <a href="/auto"><h2>Автомобили</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <img src="https://get.wallhere.com/photo/video-games-soldier-comics-Crysis-marines-Crysis-2-games-screenshot-1920x1080-px-computer-wallpaper-pc-game-716795.jpg" class="img-fluid" alt="">
                <div class="hover">
                    <a href="/game"><h2>Игры</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <img src="https://phonoteka.org/uploads/posts/2021-04/1619438568_6-phonoteka_org-p-krasivii-fon-kiberpank-8.jpg" class="img-fluid" alt="">
                <div class="hover">
                    <a href="/future"><h2>Будущее</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <img src="https://cutewallpaper.org/21/1920x1080-pixel-wallpaper/Pixel-Wallpaper-17-1920-X-1080-stmed.net.png" class="img-fluid" alt="">
                <div class="hover">
                    <a href="/pixel"><h2>Пиксельные арты</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <img src="https://phonoteka.org/uploads/posts/2021-05/1620686418_9-phonoteka_org-p-fon-dlya-kompyutera-minimalizm-13.jpg" class="img-fluid" alt="">
                <div class="hover">
                    <a href="/minimalism"><h2>Минимализм</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <img src="https://sun9-54.userapi.com/impf/rpJl1Gkle3KBQVaf6bWW4TtOOk7wQmXuCObexw/pASpAlH2tkg.jpg?size=604x340&quality=96&sign=886f325383bbd598e64bbe71b484729e&type=album" class="img-fluid" alt="">
                <div class="hover">
                    <a href="/space"><h2>Космос</h2></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="img-hover">
                <img src="https://free4kwallpapers.com/uploads/originals/2015/10/28/windows-xp-show-me-what-you-got-wallpaper.jpg" class="img-fluid" alt="">
                <div class="hover">
                    <a href="/meme"><h2>Мемы</h2></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- endCategory -->
<hr>
<!-- popularWallpaper  -->
<div class="container popular">
    <h2 class="Heading">Недавно добавленные обои обои</h2>
    <div class="row">
        {% for w in papers %}
        <div class="col-12 col-md-6 col-lg-3 col-xs-12 mb-2">
          <div class="card" style="width: 18rem; height: 22rem;">
              <img src="static/upload/{{ w[4] }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ w[1] }}</h5>
                <p class="card-text">{{ w[2] }}</p>
                <a href="static/upload/{{ w[4] }}" download class="btn btn-primary">Скачать</a>
              </div>
            </div>
        </div>
        {% endfor %}
<!-- endpopularWallpaper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
{% endblock %}