<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск</title>
    <link rel="SHORTCUT ICON" href="https://printouch.ru/img/home/list-bumagi.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style2.css">
</head>
<body>
    <!-- header  -->

    <nav class="navbar header navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand animate__animated animate__rubberBand" href="/">
              <img src="https://printouch.ru/img/home/list-bumagi.png" alt="">
              FreeWallpaper
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Главная</a>
                  </li>
              {% if user == None %}
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/login">Авторизация</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/reg">Регистрация</a>
                  </li>
              {% endif %}                
                  
                  {% if user != None %}
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="">Авторизован {{ user }}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/create">Добавить обои</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/logout">Выйти</a>
                  </li>
                  {% endif %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ссылки
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://vk.com/freepaper45">Сообщество ВК</a></li>
                        <li><a class="dropdown-item" href="https://vk.com/im?media=&sel=-204985122">Диалог в сообществе в ВК</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="https://vk.com/sms_2_0_0_7">Автор</a></li>
                    </ul>
                </li>
              </ul>
              <form class="d-flex" action="/search" method="POST">
                  <input class="form-control me-2" type="search" placeholder="Например 'Doge'" aria-label="Search" name="search">
                  <button class="btn btn-success" type="submit">Поиск</button>
              </form>
          </div>
      </div>
  </nav>
  <!-- endheader -->
  <br>
  <div class="container">
    <div class="row">
        {% for w in WPapers %}
        <div class="col-12 col-md-6 col-lg-3 col-xs-12 mb-2">
          <div class="card" style="width: 18rem; height: 22rem;">
              <img src="/static/upload/{{ w[4] }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ w[1] }}</h5>
                <p class="card-text">{{ w[2] }}</p>
                <a href="/static/upload/{{ w[4] }}" download class="btn btn-primary">Скачать</a>
              </div>
            </div>
        </div>
        {% endfor %}
        {% if WPapers == [] %}
        <div class="text-center">
            <img src="/static/upload/big_pikachudetective_10.png" class="rounded" alt="...">
            <h3>Прости, я ничего не нашёл, попробуй ввести название на другом языке или поищи что-нибудь другое(</h3>
        </div>
        {% endif %}
    </div>
  </div>
</body>
</html>